/*HEADER*/
.header{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1;
    background-color: white;
} 

#left-header{
    display: inline-block;
    float: left;
    margin: 10px;
}

.logo{
    position: relative;
    bottom: 10px;

}

#center-header{
    display: inline-block;
    margin-top: 15px;
}

#right-header{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

#search{
    border: solid 1px rgb(206, 206, 206);
    background-color: rgb(241, 241, 241);
    font-size: 1.25rem;
    text-align: center;
    background-image: url("mag-glass.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position-x:50px;
    background-position-y: 2.5px;
}

#search:focus{
    background-color: rgb(255, 255, 255);
    text-align: left;
    background-position-x: right;
}

/*Main Content*/

body{
    background-color: rgb(250, 250, 250);
}

/*YEYEYEYEYEYEYEYYE*/

.scrolling-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:75%;
}

.container {
    position: flex;
    width: 100%;
    height: 320px;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    border:solid rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    font-family: Roboto;
  }





div.postssection{
    width: 65%;
    margin-top: 70px;
}

div.sidebarsection {
    z-index: 5;
    width: 30%;
    position: fixed;
    right:0;
    top: 10%;
    text-align: left;
}

.image{
    width:100%;
    height:100%;
}

.userpic{
    width:10%;
    border-radius: 50%;
}
.propic{
    width: 5%;
    border-radius: 50%;
}

.timestamp{
    color: gray;
}
.username{
    color: black;
}

#storytitle{
    float:left;
    display: block;
}

#watchall{
    float: right;
    display: block;
}

.postuser{
    width:6%;
    border-radius: 50%;
}

.stories{
    width: 500px; 
    height: 300px; 
    overflow-y: auto; 
}
.col-sm{
    width: 20%;
    border-radius: 50%;
    align-self: auto;
}

#ftlinks{
    color: grey;
}


/*Suggestions Section*/

.sug-container{
    width: 65%;
    height: 320px;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    border:solid rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 20px;
}

.card-container {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-bottom: 16px;
}
    
.card {
    background-color: white;
    border:solid rgb(231, 231, 231);
    border-width: 1px;
    text-align: center;
}
.see-all{
    color: rgb(80, 151, 233);
    float: right;
}
.title-text, .see-all{
    margin: 0 20px;
    margin-bottom: 20px;
}

.sug-user {
    padding: 0 16px;
}

.title {
    color: grey;
}

.sug-pic{
    width: 30%;
    height: 30%;
    border-radius: 50%;

}
  
.follow {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(80, 151, 233);
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #555;
}



/*Changes the screen for tablet view*/

@media only screen and (max-width: 940px){
    div.postssection{
        width: 90%;
    }
    .sidebarsection{
        display: none;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .sug-container{
        width: 90%;
        height: 1000px;
    }
    .card-container {
        width: 90%;
        display: block;
        margin-top: 16px;
        margin-left: 16px
      }
    .logo-words{
        display: none;
    }  
}
