/*HEADER*/
.header{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1;
    background-color: white;
} 

#left-header{
    display: inline-block;
    float: left;
    margin: 10px;
}

#center-header{
    display: inline-block;
    margin-top: 15px;
}

#right-header{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

#search{
    border: solid 1px rgb(206, 206, 206);
    background-color: rgb(241, 241, 241);
    font-size: 1.25rem;
    text-align: center;
    background-image: url("mag-glass.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position-x:50px;
    background-position-y: 2.5px;
}

#search:focus{
    background-color: rgb(255, 255, 255);
    text-align: left;
    background-position-x: right;
}

/*Main Content*/

#main-content{
    background-color: rgb(238, 238, 238);
}

div.postssection{
    width: 70%;
    margin-top: 70px;
}

div.sidebarsection {
    z-index: 5;
    width: 30%;
    position: fixed;
    right:0;
    top: 10%;
    text-align: left;
}

.image{
    width:100%;
    height:100%;
}

.userpic{
    width:10%;
    border-radius: 50%;
}
.propic{
    width: 5%;
    border-radius: 50%;
}

.timestamp{
    color: gray;
}
.username{
    color: black;
}

#storytitle{
    float:left;
    display: block;
}

#watchall{
    float: right;
    display: block;
}

.postuser{
    width:6%;
    border-radius: 50%;
}

.stories{
    width: 500px; 
    height: 300px; 
    overflow-y: auto; 
}
/*Changes the screen for tablet view*/

@media only screen and (max-width: 800px){
    div.postssection{
        width: 100%;
    }
    .sidebarsection{
        display: none;
    }
    .image{
        width: 100%;
        height: 100%;
    }
}
